InkMonHelper/Service References/NotificationService/Notification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="refCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refByCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notificationText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>