InkMonHelper/Service References/RegistrationService/Registration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Registration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52592/Registration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52592/Registration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistration_RegiterNewAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RegiterNewAccount" />
  </wsdl:message>
  <wsdl:message name="IRegistration_RegiterNewAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegiterNewAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistration_CheckAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccount" />
  </wsdl:message>
  <wsdl:message name="IRegistration_CheckAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistration_CheckAccountByRefcode_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccountByRefcode" />
  </wsdl:message>
  <wsdl:message name="IRegistration_CheckAccountByRefcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccountByRefcodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistration">
    <wsdl:operation name="RegiterNewAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistration/RegiterNewAccount" message="tns:IRegistration_RegiterNewAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistration/RegiterNewAccountResponse" message="tns:IRegistration_RegiterNewAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistration/CheckAccount" message="tns:IRegistration_CheckAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistration/CheckAccountResponse" message="tns:IRegistration_CheckAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccountByRefcode">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistration/CheckAccountByRefcode" message="tns:IRegistration_CheckAccountByRefcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistration/CheckAccountByRefcodeResponse" message="tns:IRegistration_CheckAccountByRefcode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistration" type="tns:IRegistration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegiterNewAccount">
      <soap:operation soapAction="http://tempuri.org/IRegistration/RegiterNewAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccount">
      <soap:operation soapAction="http://tempuri.org/IRegistration/CheckAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccountByRefcode">
      <soap:operation soapAction="http://tempuri.org/IRegistration/CheckAccountByRefcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registration">
    <wsdl:port name="BasicHttpBinding_IRegistration" binding="tns:BasicHttpBinding_IRegistration">
      <soap:address location="http://localhost:52592/Registration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>