InkMonService/settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Interval" type="xs:unsignedByte" />
              <xs:element name="UserNotification" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Printers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Printer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Level" type="xs:unsignedByte" />
                    <xs:element name="LastNotification" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Caption" type="xs:string" use="required" />
                  <xs:attribute name="Port" type="xs:string" use="required" />
                  <xs:attribute name="Plugin" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Customer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="RefCode" type="xs:string" />
              <xs:element name="RefByCode" type="xs:string" />
              <xs:element name="PaypalEmail" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>